*{
    margin:0;
}
.header{
    height: 70px;
    padding: 0 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

.header-content-links a{
    text-decoration: none;
    font-weight: 900;
    font-size: larger;
    color: black;
    margin-right: 45px;
}

.social-media{
    width:5%;
    display: flex;
    gap: 10px;
}

i{
    font-size: 30px;
}

.body{
    /* height: 500px; */
}

.banner{
    height: 600px;
    background-image: url(./resources/back.jpeg);
    background-repeat: no-repeat;
    background-size:100% 100%;
}

.banner button{
    position: relative;
    top: 550px;
    left: 60px;
    width: 15rem;
    height:2.5rem;
}

.banner-details{
    padding: 0px 50px;
    height: max-content;
    display: flex;
    justify-content: center;
    gap:80px;
    flex-wrap: wrap;
    background-color: grey;
}

.text{
    width:300px;
    text-align: center;
}
